.landing-cntr {
  max-width: 1000px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.landing-cntr > p {
  line-height: 25px;
  font-weight: bolder;
}

.landing-cntr > button {
  margin-top: 20px;
}
